.container {
  min-height: 100vh;
}
.dark {
  background-color: rgb(26, 26, 27);
}

.light {
  background-color: white;
}

.app-is-dark :not(input, path) {
  color: white;
}

.dark :not(input, path) {
  color: white;
}

.background {
  background-color: #dae0e6;
}

.dark-background {
  background-color: black;
}
.mobile-active-is-dark {
  background-color: #363636;
  border-color: #363636;
}
.mobile-active-is-dark a {
  color: white;
}

.mobile-active-is-dark a:hover {
  background-color: #2f2f2f;
  color: white;
}

.mobile-active-is-dark .navbar-dropdown a.navbar-item:hover {
  background-color: #2f2f2f;
  color: white;
}

.xl-size * {
  font-size: 42px !important;
}

.l-size * {
  font-size: 32px !important;
}

.m-size * {
  font-size: 24px !important;
}

.s-size * {
  font-size: 14px !important;
}
.xs-size * {
  font-size: 8px !important;
}
